/*
	CSS originally created by Alvin Johanes Fransiscus Lee
	+6285263488999
	lee.alvin.johanes@gmail.com
*/
 @-webkit-keyframes AnimationName
{
	0%{background-position:0% 51%}
	50%{background-position:100% 50%}
	100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName
{
	0%{background-position:0% 51%}
	50%{background-position:100% 50%}
	100%{background-position:0% 51%}
}
@-o-keyframes AnimationName
{
	0%{background-position:0% 51%}
	50%{background-position:100% 50%}
	100%{background-position:0% 51%}
}
@keyframes AnimationName
{
	0%{background-position:0% 51%}
	50%{background-position:100% 50%}
	100%{background-position:0% 51%}
}

.htmllogin
{
	text-align: center;
 	background: linear-gradient(226deg, #00a65a, #009688, #004d40, #009688);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 14s ease infinite;
	-moz-animation: AnimationName 14s ease infinite;
	-o-animation: AnimationName 14s ease infinite;
	animation: AnimationName 14s ease infinite;
	/*background-image: linear-gradient(90deg, rgb(39, 174, 96) 25%, rgb(52, 152, 219) 100%);background-image: -moz-linear-gradient(left, rgb(39, 174, 96) 25%, rgb(52, 152, 219) 100%);background-image: -webkit-linear-gradient(left, rgb(39, 174, 96) 25%, rgb(52, 152, 219) 100%);background-image: -o-linear-gradient(left, rgb(39, 174, 96) 25%, rgb(52, 152, 219) 100%);background-image: -ms-linear-gradient(left, rgb(39, 174, 96) 25%, rgb(52, 152, 219) 100%);
	background-color: #00a65a;*/
}

.logologin
{
    height: 200px;
   	width: 200px;
	background-image: url("../img/willert/logo.png");
	background-size: cover;
	background-color: transparent;
    background-repeat: no-repeat;
   	margin-top: 70px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.plogin
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ilogin1
{
	height: 50px;
	width: 260px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border: 1px solid;
	font-size: 20px;
	text-align: center;
}

.ilogin2
{
	height: 50px;
	width: 260px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border: 1px solid;
	font-size: 20px;
	text-align: center;
}

.inputglogin
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
}

.inputlogin
{
	height: 50px !important;
	font-size: 20px !important;
}

.btnlogin
{
	width: 300px;
}

.credit
{
	color: white;
}

.credit a
{
	color: white;
}

.logonavmini
{
	max-width: 40px;
}

.alignright
{
	text-align: right;
}

.main-header
{
    position: fixed;
    width: 100%;
}

.control-sidebar
{
    position: fixed;
}

.main-sidebar, .left-side
{
	position: fixed;
}

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
